{% extends 'base.html.twig' %}

{% block title %}Indice de Clientes{% endblock %}

{% block body %}
    <h1>Indice de Clientes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>RFC</th>
                <th>Creado en</th>
                <th>Actualizado en</th>
                <th>acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.name }}</td>
                <td>{{ client.lastName }}</td>
                <td>{{ client.rfc }}</td>
                <td>{{ client.createdAt ? client.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ client.updatedAt ? client.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('client_show', {'id': client.id}) }}">mostrar</a>
                    <a href="{{ path('client_edit', {'id': client.id}) }}">editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('client_new') }}">Crear nuevo</a>
{% endblock %}
