<div class="card">
  <div class="card-body">
    {{ form_start(form) }}
    {{ form_row(form._token) }}

    <div class="row">
      <div class="col">
        {{ form_row(form.name) }}
      </div>
      <div class="col">
        {{ form_row(form.last_name) }}
      </div>
    </div>
    <div class="row">
      <div class="col">
        {{ form_row(form.user.email) }}
      </div>
      <div class="col">
        {{ form_row(form.user.password) }}
      </div>
    </div>
    <button class="btn">{{ button_label|default('Guardar') }}</button>
    {{
      form_end(
        form,
        {
          render_rest: false
        }
      )
    }}
  </div>
</div>
